<div class="layout-page">
  <img src="../../assets/requirements1.png" style="width:60px;height: 60px;position: fixed;right: 10px;z-index:10001;bottom: 100px;" alt="">

  <main>
    <section class="header" style="    overflow-x: scroll;
    ">
      <div class="wrapper">
        <div class="item">
          <div class="pic">
            <img src="../../assets/news/e0b22ff34d5f49b6b6cd8aee7fdcd709-01" alt="" />
          </div>
          <div>
            <div style="
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
                margin-top: 18px;
              ">
              进行时|跟着达达逛展会！
            </div>
            <div style="font-size: 16px; color: #666; margin-bottom: 10px">
              达达带你逛展会
            </div>
            <div style="display: flex; justify-content: space-between; color: #999">
              <span> 苏美达技贸发布 </span> <span> 2023-03-17 12:12:06 </span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="pic">
            <img src="../../assets/news/e5cc5eebce9f4ef981673e4bbc05c9e6-02" alt="" />
          </div>
          <div>
            <div style="
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
                margin-top: 18px;
              ">
              达达直播间，带你逛展会！
            </div>
            <div style="font-size: 16px; color: #666; margin-bottom: 10px">
              “苏美达达天下”专属直播间
            </div>
            <div style="display: flex; justify-content: space-between; color: #999">
              <span> 苏美达技贸发布 </span> <span> 2023-03-17 12:12:06 </span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="pic">
            <img src="../../assets/news/f787e3b4a1f94b49b39da168d425efd0-03" alt="" />
          </div>
          <div>
            <div style="
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;
                margin-top: 18px;
              ">
              6号馆6066！好礼送不停！
            </div>
            <div style="font-size: 16px; color: #666; margin-bottom: 10px">
              第二十四届宁波国际机床装备展览会正式开展
            </div>
            <div style="display: flex; justify-content: space-between; color: #999">
              <span> 苏美达技贸发布 </span> <span> 2023-03-17 12:12:06 </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bottom">
      <div class="wrapper">
        <div style="
            color: rgb(228, 1, 1);
            font-size: 18px;
            padding: 25px 0 15px;
            text-align: end;
          ">
          查看更多
        </div>
        <div style="display: flex">
          <ul nz-menu nzMode="inline">
            <li nz-menu-item nzSelected>展商风采</li>
            <li nz-menu-item>行业资讯</li>
            <li nz-menu-item>采购需求</li>
            <li nz-menu-item>平台宣介</li>
          </ul>
          <div style="display: flex;justify-content: space-between;" class="aa">
            <div class="item item2" style="width:365px ; height: 384px;padding: 25px 24px 42px;    margin-right: 15px;margin-left: 15px;
            ">
              <div class="pic" style="width:304px ; height: 172px;">
                <img src="../../assets/news/e0b22ff34d5f49b6b6cd8aee7fdcd709-01" alt="" />
              </div>
              <div class="detail">
                <div style="
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #333;
                    margin-top: 18px;
                  ">
                  进行时|跟着达达逛展会！
                </div>
                <div style="font-size: 16px; color: #666; margin-bottom: 10px">
                  达达带你逛展会
                </div>
                <div style="
                    display: flex;
                    justify-content: space-between;
                    color: #999;
                  ">
                  <span> 苏美达技贸发布 </span>
                  <span> 2023-03-17 12:12:06 </span>
                </div>
              </div>
            </div>
            <div class="item item2" style="width:365px ; height: 384px;padding: 25px 24px 42px;margin-right: 15px;">
              <div class="pic" style="width:304px ; height: 172px;">
                <img src="../../assets/news/e5cc5eebce9f4ef981673e4bbc05c9e6-02" alt="" />
              </div>
              <div class="detail">
                <div style="
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #333;
                    margin-top: 18px;
                  ">
                  达达直播间，带你逛展会！
                </div>
                <div style="font-size: 16px; color: #666; margin-bottom: 10px">
                  “苏美达达天下”专属直播间
                </div>
                <div style="
                    display: flex;
                    justify-content: space-between;
                    color: #999;
                  ">
                  <span> 苏美达技贸发布 </span>
                  <span> 2023-03-17 12:12:06 </span>
                </div>
              </div>
            </div>
            <div class="item item2" style="width:365px ; height: 384px;padding: 25px 24px 42px;">
              <div class="pic" style="width:304px ; height: 172px;">
                <img src="../../assets/news/f787e3b4a1f94b49b39da168d425efd0-03" alt="" />
              </div>
              <div class="detail">
                <div style="
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #333;
                    margin-top: 18px;
                  ">
                  6号馆6066！好礼送不停！
                </div>
                <div style="font-size: 16px; color: #666; margin-bottom: 10px">
                  第二十四届宁波国际机床装备展览会正式开展
                </div>
                <div style="
                    display: flex;
                    justify-content: space-between;
                    color: #999;
                  ">
                  <span> 苏美达技贸发布 </span>
                  <span> 2023-03-17 12:12:06 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <article>
    <div>特别提示：</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苏美达数字会展平台（以下简称会展平台）以非盈利目的免费发布展商展品信息，其中有关参展商及其产品或服务的信息，均由会展平台参展商提供并由其对相关内容的真实性、准确性及合法性负责，会展平台仅负责收集、整理并发布，对其中内容不承担法律责任，请您自行甄别。
    如您发现存在相关信息不真实、不准确或涉嫌违法违规的情况，请及时联系会展平台或相关行政主管部分进行举报，对于反映至会展平台的相关信息，我们将依照相关法律规定提醒相关单位整改。我们的联系方式：<span class="red">
      T-world@sumec.com.cn
    </span>
    。
  </article>
</div>

<style>
  .bottom .wrapper {
    width: 1270px;
    margin: 0 auto;
  }

  .bottom {
    background: url("../../assets/news/newsListBottomBg.png") 100% no-repeat;
    width: 100%;
    height: 578px;
    background-size: 100% 100%;
  }

  .ant-menu-inline {
    width: 104px;
    height: 384px;
    background: transparent;
  }

  .ant-menu-inline .ant-menu-item-selected {
    background-color: unset;
    color: rgb(228, 1, 1);
  }

  .ant-menu-inline .ant-menu-item-selected::after {
    border-right-color: rgb(228, 1, 1);
  }

  .header {
    background: url("../../assets/news/newsListTopBg.png") 100% no-repeat;
    background-size: 100% 100%;
    height: 466px;
    padding: 55px 0 35px;
  }

  .header .wrapper {
    width: 1236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .item {
    width: 384px;
    height: 348px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.16);
  }

  img {
    width: 100%;
    height: 100%;
    transition: all linear 0.3s;
  }

  .header .pic {
    width: 363px;
    height: 206px;
    overflow: hidden;
  }

  .header .pic:hover img {
    transform: scale(1.5);
  }

  .red {
    color: rgb(228, 1, 1);
  }

  article {
    width: 1400px;
    margin: 10px auto;
  }

  .layout-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  @media (max-width: 960px) {
    .layout-page {
      width: 100%;
      overflow: hidden;
    }

    .aa {
      flex-direction: column;
    }

    .aa  .pic {
      width: 50% !important;
      float: right;
      height: 75px !important;
    }

    .aa .detail {

      float: left;
      width: 50% !important;
      font-size: 12px !important;

    }

    .aa  .detail div {
      margin: 0 !important;
      padding: 0 !important;
    }

   .aa .item2 {
      height: unset !important;
      margin-left: 15px;
      margin-top: 10px;
      padding: 5px !important;
    }
    article{
      width: 100%;
    }
  }
</style>