<div class="layout-page">



    <img src="../../assets/requirements1.png"
        style="width:60px;height: 60px;position: fixed;right: 10px;z-index:10001;bottom: 100px;" alt="">
    <div class="pc-show">
        <section>
            <nz-carousel [nzDotPosition]="dotPosition2" nzAutoPlay  class="top">
                <div nz-carousel-content *ngFor="let index of array">
            <img src="../../assets/c720c037264045f7a7472c2d9945cd6f-home-top-swiper" alt=""
                style="width: 100%; margin-bottom: 10px" />
                </div>
                </nz-carousel>
        </section>

        <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay class="line">
            <div nz-carousel-content *ngFor="let index of array">
        <section style="text-align: center; font-size: 15.42px">
            
            <img src="../../assets//indexMessage.png" alt="" style="width: 19px; height: 19px" />
            宁波机床展采购需求汇总（3月1-6日）
        </section>
        </div>
        </nz-carousel>

        <section style="
      background: url('../../assets/home/storeListBg.png') 100% no-repeat;
      min-height: 524px;
      background-size: 100% 100%;
    " class="pinpai">
            <div class="a">
                <h1 style="text-align: center; font-size: 24px; margin-top: 10px">
                    品牌实录
                </h1>
                <p class="red center more" style="font-size: 12px">查看更多</p>
            </div>

            <section style="
        flex-wrap: wrap;
        min-width: 1200px;
        margin: 0 auto;
        max-width: 1400px;
        justify-content: center;
      " class="flex store-list">
                <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
                <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
                <nz-carousel  [nzAutoPlaySpeed]="1000" [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
                <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
                <nz-carousel [nzAutoPlaySpeed]="6000" [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
                <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
                    <div nz-carousel-content *ngFor="let index of array">
                        <section class="store-item">
                            <div class="flex">
                                <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                    style="width: 85px; height: 85px; margin: 17px" />
                            </div>
                            <div>
                                <h1 style="font-size: 21px">激光打标</h1>
                                <p style="font-size: 16px">中国</p>
                            </div>
                        </section>
                    </div>
                </nz-carousel>
            </section>
        </section>

        <section style="
      background: url('../../assets/home/indexLiveBgLarge.png') 100% no-repeat;
      min-height: 524px;
      background-size: 100% 100%;
    ">
            <div class="wrapper">
                <div class="a" style="padding-top: 20px;">

                    <h1 style="text-align: center; margin-top: 40px">直播</h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>
                </div>
                <article>
                    <div class="video-item">
                        <div class="img">
                            <img src="../../assets/home/9a552e18f7304ad788d86c8928fd202e" alt="" />
                            <div class="live">
                                <img src="../../assets/home/living.svg" alt="" />2057人观看
                            </div>
                        </div>

                        <h1 class="subtitle">3月17日达达带您云逛ChinaMach</h1>
                        <p class="sub">
                            <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                style="width: 24px; height: 24px" />
                            苏美达技贸
                        </p>
                    </div>
                    <div class="video-item">
                        <div class="img">
                            <img src="../../assets/home/8ded1caa53dd433cb206fa9b754e5af9-live" alt="" />
                            <div class="live">
                                <img src="../../assets/home/living.svg" alt="" />3288人观看
                            </div>
                        </div>

                        <h1 class="subtitle">宁波国际机床展官方直播间</h1>
                        <p class="sub">
                            <img src="../../assets/home/7037f4f38f0c452996ed7f8923e709c4-live-icon2" alt=""
                                style="width: 24px; height: 24px" />
                            宁波国际机床展官方直播间
                        </p>
                    </div>
                    <div class="video-item">
                        <div class="img">
                            <img src="../../assets/home/9a552e18f7304ad788d86c8928fd202e" alt="" />
                            <div class="live">
                                <img src="../../assets/home/living.svg" alt="" />325人观看
                            </div>
                        </div>

                        <h1 class="subtitle">3月16日达达带您云逛ChinaMach</h1>
                        <p class="sub">
                            <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                style="width: 24px; height: 24px" />
                            苏美达技贸
                        </p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <div class="a">

                    <h1 style="text-align: center; font-size: 24px; margin-top: 40px">
                        热门商品
                    </h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>

                </div>

                <article style="justify-content: noset">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section style="
      background: url('../../assets/home/brandWallBg.png') 100% no-repeat;
      min-height: 800px;
      background-size: 100% 100%;
    ">
            <div class="wrapper">
                <div class="a">

                    <h1 style="text-align: center; font-size: 24px; margin-top: 10px">
                        参展商品录
                    </h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>

                </div>

                <p class="center" style="font-size: 20px; font-weight: 400; color: #7c879a">
                    —— 排名不分先后 ——
                </p>
                <nz-carousel [nzDotPosition]="dotPosition2" nzAutoPlay  class="bottom">
                    <div nz-carousel-content *ngFor="let index of array">
                <div class="brand-list">
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                </div>
                </div>
                </nz-carousel>
            </div>
        </section>

    </div>
    <div class="h-show">
        <section>
            <img src="../../assets/package-11" alt="" style="width: 100%; margin-bottom: 10px" />
        </section>
        <section style="
         background: url('../../assets/home/storeListBg.png') 100% no-repeat;
      background-size: 100% 100%;">
            <section>
                <div class="a">
                    <h1 style="text-align: center; font-size: 24px; margin-top: 10px">
                        品牌实录
                    </h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>
                </div>

            </section>
            <section style="display: flex; overflow-x: scroll;    overflow-y: hidden;">
                <div>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                </div>
                <div>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                    <section class="store-item">
                        <div class="flex">
                            <img src="../../assets//home/b5895ff6c506440c93c3324f79359f53" alt=""
                                style="width: 85px; height: 85px; margin: 17px" />
                        </div>
                        <div>
                            <h1 style="font-size: 21px">激光打标</h1>
                            <p style="font-size: 16px">中国</p>
                        </div>
                    </section>
                </div>
            </section>
        </section>
        <section class="zhibo" style="
        background: url('../../assets/home/indexLiveBgLarge.png') 100% no-repeat;
        min-height: 524px;
        background-size: 100% 100%;
      ">
            <div class="wrapper">
                <div class="a">

                    <h1 style="text-align: center; margin-top: 40px">直播</h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>
                </div>
                <article class="flex" style="padding: 0 5px ;">
                    <div class="video-item" style="margin-right: 1%;">
                        <div class="img">
                            <img src="../../assets/home/9a552e18f7304ad788d86c8928fd202e" alt="" />
                            <div class="live">
                                <img src="../../assets/home/living.svg" alt="" />2057人观看
                            </div>
                        </div>

                        <h1 class="subtitle">3月17日达达带您云逛ChinaMach</h1>
                        <p class="sub">
                            <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                style="width: 24px; height: 24px" />
                            苏美达技贸
                        </p>
                    </div>
                    <div class="video-item">
                        <div class="img">
                            <img src="../../assets/home/9a552e18f7304ad788d86c8928fd202e" alt="" />
                            <div class="live">
                                <img src="../../assets/home/living.svg" alt="" />2057人观看
                            </div>
                        </div>

                        <h1 class="subtitle">3月17日达达带您云逛ChinaMach</h1>
                        <p class="sub">
                            <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                style="width: 24px; height: 24px" />
                            苏美达技贸
                        </p>
                    </div>
                </article>
            </div>
        </section>

        <section class="remen">
            <div class="wrapper">
                <div class="a">

                    <h1 style="text-align: center; font-size: 24px; margin-top: 40px">
                        热门商品
                    </h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>

                </div>

                <article style="justify-content: unset; padding: 0 5px;">
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png" class="guanzhu"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png" class="guanzhu"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png" class="guanzhu"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-img">
                            <img src="../../assets/home/c99a67ec53df49dbb889ee5ffba45e9f-product1"
                                style="width: 168px; height: 95px" alt="" />
                        </div>
                        <div class="detail">
                            <div class="title">
                                <img src="../../assets/home/onlive.gif"
                                    style="width: 18px; height: 18px; margin-right: 5px" alt="" />
                                资源供应
                                <img src="../../assets/home/mobileNotFollowIcon.png" class="guanzhu"
                                    style="width: 52px; height: 22px; position: absolute; right: 0" alt="" />
                            </div>
                            <div class="company">
                                <p class="sub" style="padding-bottom: 10px; height: 40px">
                                    <img src="../../assets/home/f9abe079459f4d51b1e3f1a47d2239e5-video-icon" alt=""
                                        style="width: 24px; height: 24px" />
                                    苏美达技贸
                                </p>
                            </div>
                            <div class="china">品牌名称 ： 中国</div>
                            <div class="name">品牌名称 ： 苏美达科技</div>
                        </div>
                    </div>



                </article>
            </div>
        </section>
        <section class="canzhan" style="
        background: url('../../assets/home/brandWallBg.png') 100% no-repeat;
        min-height: 800px;
        background-size: 100% 100%;
      ">
            <div class="wrapper">
                <div class="a">

                    <h1 style="text-align: center; font-size: 24px; margin-top: 10px">
                        参展商品录
                    </h1>
                    <p class="red center more" style="font-size: 12px">查看更多</p>

                </div>

                <p class="center" style="font-size: 20px; font-weight: 400; color: #7c879a">
                    —— 排名不分先后 ——
                </p>
                <div class="brand-list">



                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                    <div class="brand-item">
                        <img src="../../assets/home/eed35c4a-43ac-4c62-bcae-c6fdf5beef28-brand.jpg" alt="" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<style>
    body,html{
        height: 100%;
        
    }
</style>